# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
# Deliverable files
gtmp_mcs.c
gtmpi_counter.c
gtmp_tree.c
Re:_OpenMP_Barrier.txt
gtmpi_dissemination.c
gtmpi_tournament.c
gtmpi_counter.c
Re:_MPI_Barrier.txt